

<h5>Building Society Management System</h5>

<br></br><br></br>
<div id="section5">
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<%= link_to "Log out", logout_path %>
<table>
 
<tr>

 <td> <%= link_to("Flat Holders", :controller => 'create_owner',:class=>'form-buttons') %></td>
</tr>
<tr>

  <td><%= link_to("Notice Manager", :controller => 'create_owner/report',:class=>'form-buttons') %><td>
</tr>
<tr>
    
<td><%= link_to("Billing and Income Generator",:class=>'form-buttons') %></td>

</tr>
<tr>
<td>   <%= link_to("SMS Gateway", :controller => 'create_owner/sms', :class=>'form-buttons') %></td>
</tr>
<tr>

  <td> <%= link_to("Revenue Generation",:class=>'form-buttons') %></td>
</tr>
<tr>

   <td> <%= link_to("Reports Generations",:class=>'form-buttons') %></h2></td>
</tr>
<tr>

 <td> <%= link_to("Access Rights", :controller => 'create_owner/access_right',:class=>'form-buttons') %></td>
</tr>
<tr>

<td> <%= link_to("Create Meetings", :controller => 'message/new', :class=>'form-buttons') %></td>
</tr>
</table>

  </ul> 
</div>
