<div class="menu">

  <h2>Building Society Management System</h2>
  <h1>Manage Access Rights</h1>
<%= form_for(:acess_rights, :url => {:action => 'create'}) do |f| %>
  <h1>For Users</h1><br><br/><br><br/>
   User name
  
     <%= f.select :name, options_from_collection_for_select(CreateOwner.order(:name), :id, :name, 1), {class: "select-style"} %>

  Can

     <%= f.select :can, options_for_select(%w[Can Cannot]), {class: "select-style"} %>

  Perform

     <%= f.select :perform, options_for_select(%w[Read Write]), {class: "select-style"} %>
<br></br>
  <div class="form-buttons">
     <%= f.submit "Manage" %>
  </div>
<% end %>

